<div class="container">
<header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
  <div class="clearfix"><button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">☰</button></div>
  <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
    <nav class="nav navbar-nav">
		<a id='toolname' class="navbar-brand nav-item nav-link active" href="?">$$TITLE$$</a>
		<div class='pull-sm-right'>
		<ul class="nav navbar-nav">
		  <li class="nav-item" id='tooltranslate_wrapper'></li>
		  <li class="nav-item active"><a target='_blank' class="nav-link l_manual" href="/magnustools">Tools</a></li>
		  <li class="nav-item active"><a target='_blank' class="nav-link l_manual" href="//bitbucket.org/magnusmanske">Git</a></li>
		  <li class="nav-item active"><a id="discuss_link" target='_blank' class="nav-link l_manual" href="//en.wikipedia.org/wiki/User_talk:Magnus_Manske">Talk</a></li>
		  <li class="nav-item"><a style="margin:0px;padding:0px;margin-top:4px;margin-left:10px;" href="/" target='_blank'><img src="//wikitech.wikimedia.org/w/images/c/cf/Labslogo_thumb.png" title="Powered by Wikimedia Labs" border="0" width="32px"></a></li>
		</ul>
		</div>
    </nav>
</header>
</div>
